.logo {
  width: 45px;
  height: 45px;
}

.logo {
  z-index: 5;
  position: relative;
}

.header {
  background: var(--primary-color);
  z-index: 5;
  position: relative;
}

nav {
  border-bottom: 1px solid var(--light-border);
}

.navLink:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

.mobileMenu {
  position: fixed;
  background: var(--primary-color);

  top: 0;
  right: 0%;

  width: 100%;
  height: 100vh;
  transform: scale(.8);

  opacity: 0;
  pointer-events: none;
  border-bottom: 5px solid inherit;

  padding: 30% 10% 5rem;
  transition: .35s ease;
}

.mobileMenu.active {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
  border-bottom: 5px solid var(--main-theme_1);
}

.mobileNavLink {
  border-bottom: 1px solid var(--secondary-color);
  padding-top: 2rem;
}

.mobileNavLink:hover {
  border-bottom: 1px solid var(--secondary-color-aux);
}

.mobileMenuButton {
  position: relative;
  z-index: 4;
}

@media screen and (min-width: 1023px) {
.mobileMenu.active {
  opacity: 0;
}
}